@import "../zee.vars";

$zee-output-off-canvas: $zee-output-style !default;
$off-canvas-menu-width: 260px !default;
$off-canvas-left-menu-width: $off-canvas-menu-width !default;
$off-canvas-right-menu-width: $off-canvas-menu-width !default;
$off-canvas-transition: 5s ease-in;

