$mq-mobile:              320px;
$mq-large-mobile:        384px;
$mq-extra-large-mobile:  480px;
$mq-tablet:              640px;
$mq-large-tablet:        720px;
$mq-extra-large-tablet:  800px;
$mq-desktop:             960px;
$mq-large-desktop:       1200px;
$mq-extra-large-desktop: 1440px;
$mq-ultra-large-desktop: 1600px;
