@import "typography.vars";

// From Foundation
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// From Foundation (renamed)
@function px2em($value, $base-value: $zee-base-font-size) {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  
  // Turn 0em into 0
  @if ($value == 0em) {
    $value: 0;
  }
  
  @return $value;
}

@function px2ems($values, $base-value: $zee-base-font-size) {
  $max: length($values);

  @if $max == 1 { @return px2em(nth($values, 1), $base-value); }

  $em-values: ();
  @for $i from 1 through $max {
    $em-values: append($em-values, px2em(nth($values, $i), $base-value));
  }
  @return $em-values;
}


// Shortcuts
@function p2e($value, $base-value: $zee-base-font-size) {
  @return px2em($value, $base-value);
}

@function p2es($values, $base-value: $zee-base-font-size) {
  @return px2ems($values, $base-value);
}
