@mixin hx-tags {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin hx-classes {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @content;
  }
}

@mixin reset-hx {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}

@mixin reset-a {
  &,
  &:link,
  &:active,
  &:visited,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
