@mixin map2style($map) {
  @each $prop, $value in $map {
    #{$prop}: $value;
  }
}

@mixin before {
  &:before {
    content: '';
    display: block;
    @content;
  }
}

@mixin after {
  &:after {
    content: '';
    display: block;
    @content;
  }
}

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

@mixin hidden-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin invisible {
  visibility: hidden;
}

@mixin vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin reset-vishidden {
  position: static !important;
  overflow: visible;
  width: auto;
  height: auto;
  clip: auto;
}

@mixin clearfix {
  *zoom: 1;
  
  &:before,
  &:after {
    display: table;
    content: '';
    line-height: 0;
  }
  
  &:after {
    clear: both;
  }
}

@mixin display-for-js-only($display-value: 'block') {
  display: none;

  .js & {
    display: $display-value;
  }
}

@mixin hidden-for-js-only {
  .js & {
    display: none;
  }
}

@mixin activable($display-value: 'block') {
  display: none;

  &.active {
    display: $display-value;
  }
  
  .no-js &:target {
    display: $display-value;
  }
}

@mixin activable-for-js-only($display-value: 'block') {
  .js & {
    display: none;

    &.active {
      display: $display-value;
    }
  }
}

@mixin respect-ratio($ratio) {
  position: relative;
  
  &:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: $ratio;
    overflow: hidden;
  }
}

@mixin center-by-translate($horizontal: true, $vertical: true) {
  @if $horizontal == true and $vertical == true {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  } @elseif $horizontal == true {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
  } @elseif $vertical == true {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin abs-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin fixed-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin reset-abs-view {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  width: auto;
  height: auto;
}

@mixin reset-fixed-view {
  @include reset-abs-view;
}
